# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
tensorflow


# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
google-cloud
mlflow
s3fs
google-api-python-client
fastapi
uvicorn
python-multipart

# utilities
six>=1.14
memoized-property
termcolor
gsutil
uvicorn
fastapi
Pillow
requires.io
